@tailwind base;
@tailwind components;
@tailwind utilities;

/* MUST come AFTER @tailwind base */
@layer base {
  :root {
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 5%;
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;
  }

  body {
    margin: 0;
    font-family:
      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family:
      source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  * {
    @apply border-gray-200;
  }

  body {
    @apply bg-white text-gray-900;
  }
}